header h1 {
    color: #a9a9a9;
}
nav ul {padding: 0;}

nav ul li {
    float: left;
    list-style-type: none;
   
}

nav ul li a {
    display: block;
    padding: .5rem 1rem;
    background-color:#ff3b3f;
    color: #ffffff;
}

main h1 {
    clear: both;
    color: #a9a9a9;
}
main img {
    float: right;  
}
footer {
    text-align: center;
    clear: both;
}