@media only screen and (min-width: 560px)   {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img{width: auto;}
header h1 {font-size: 2rem;}
header h1 {font-size: 1.5rem;}


/*----------- NAVIGATION --------------*/

nav li {float: left; width: 18%;}
nav li {margin-left: 2%;}


nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/

main figure {width: 50%}
main figure.myphoto img {width: 100%;}
main figcaption {text-align: center;font-size: .75rem; padding: 1%}


/*----------- FOOTER --------------*/
footer {
background-color: #272147;
padding: .1rem 4%;
text-align: center; color: white;
    
    
    } /*end of media query */