/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

nav, header, footer, main {max-width: 75rem; margin: auto;}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
 
nav button (display: none;)
nav ul.hide {display: block}
nav ul li {float: left;}
nav ul {margin-left: 2%;}


nav ul li a{
    border: none;
    padding: .8rem 1rem;}
nav ul.hide {display: block}
.toggle {display: none;}

 


/*----------- MAIN --------------*/

/*---home page---*/
.girlone {width: 33%;}
.coupleone {
    width: 33%;
    margin: 0 0 0 2;}

div.homegallery figure {
    flex-basis: 28%;    
}
div.homegallery figure img:hover {box-shadow: 0 0 30px #2e9cca;}

main figure {width: 31%}
   

div.google {column-count: 2;}

/*----------- FOOTER --------------*/







} /*end of media query */