@media only screen and (min-width: 560px)   {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header h1 {font-size: 2rem;}s
header h1 {font-size: 1.5rem;}

/*--header logo--*/
.logotemple {
    float: left;
    width: 50%;
    margin: 0;
}
.logotemple img {wdith: 100%}


/*----------- NAVIGATION --------------*/

nav button (display: none;)
nav ul.hide {display: block}
nav ul li {float: left;}
nav ul {margin-left: 2%;}


nav ul li a{
    border: none;
    padding: .8rem 1rem;}
nav ul.hide {display: block}
.toggle {display: none;}

/*----------- MAIN --------------*/



/*---homepage---*/
main figure.pano { 
    display: block;
    width: 100%;
    height: auto; 
    margin: 0;  
}   
main figure.pano img {width: 100%;} 

div.homegallery figure {
    flex-basis: 46%;    
}
div. figure {
    flex-basis: 46%;    
}


/*--services page --*/
.nonavbar {
    color: #2e9cca;
    padding: 1%;
    margin: 0;
    width: 100%
}
.nonavbar2 {
    color: #2e9cca;
    padding: 1%;
    margin: 0;
    width: 100%
}
.catering {
    float: left;
    width: 50%;
    margin: 0;
    padding-right: 2rem;
}
.catering img {width: 100%;}
main figcaption {
    text-align: center;
    font-size: .75rem;
    padding: 1%;
} 
.pool {
    float: left;
    width: 50%;
    margin: 0;
    padding-right: 2rem;
}
.pool img {width: 100%;}

/*----------- long term mission page --------------*/
figure.hotel1 img {
    width: 100%;
    float: left;
    margin: 0; 
    padding: 1rem;
}
figure.mission img {width: 100%;}

figure.desk {
    width: 100%;
    float: right;
    margin: 0;
    padding 1rem;
}
figure.desk img {width: 100%}


/*----------- weddingpage --------------*/
.cake img {
    width: 100%;
    float: left;
    padding-right: 2rem;
    margin: 0px;
}
.cake img {width;}
div.weddingallery figure {
    flex-basis: 46%;    
}
div.weddingallery {
    flex-basis: 46%;    
}

div.weddingallery2 figure {
    flex-basis: 46%;    
}
div.weddingallery2 {
    flex-basis: 46%;    
}



/*----------- FOOTER --------------*/
div.google {
    clear: both;
    column-count: 2;
    column-rule: 1px solid #aaa;
    }
    

footer {
    background-color: #a8aab7;
    text-align: center; 
    color: #ffffff;
    clear: both;
    height: 350px;
    width: 100%;
}
.address1 {
    float: left;
    text-align: left;
    padding: 1rem;
    margin: 1px;
}
.address2 {
    float: right;
    text-align: left;
    padding: 1rem;
    margin: 1px;

}
   
    
    } /*end of media query */