@media only screen and (min-width: 560px)   {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img{width: auto;}
header h1 {font-size: 2rem;}
header h1 {font-size: 1.5rem;}


/*----------- NAVIGATION --------------*/

nav button (display: none;)
nav ul.hide {display: block}
nav ul li {float: left;}
nav ul {margin-left: 2%;}


nav ul li a{
    border: none;
    padding: .8rem 1rem;}
nav ul.hide {display: block}
.toggle {display: none;}

/*----------- MAIN --------------*/

/*---homepage---*/

div.homegallery figure {
    flex-basis: 46%;    
}

div.google {
clear: both;
column-count: 2;
column-rule: 1px solid #aaa;
}

/*----------- FOOTER --------------*/
footer {
background-color: #272147;
padding: .1rem 4%;
text-align: center; color: white;
    
    
    } /*end of media query */