/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
    header img{width: auto;}
    header h1 {font-size: 2rem;}
    header h1 {font-size: 1.5rem;}


/*----------- NAVIGATION --------------*/
nav ul li {float: left; width: 20%}
    nav ul {margin-left: 2%;}
   

    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/

    main figure {width: 50%}
    main figcaption {text-align: center;font-size: .75rem; padding: 1%}


/*----------- FOOTER --------------*/
footer {
    background-color: #ed1a37;
    padding: .1rem 4%;
    text-align: center; color: white;
 
    
} /* end of media query */