/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {color: 
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #2e9cca;
    height: 200px;
}
header h1 {margin: 0; font-weight: bold; font-size: 2rem; color: #ffffff; }
header h2 {margin: 0; font-weight: bold; font-size: 1rem; color: #222543; }

/*----------- NAVIGATION --------------*/
nav {
    background-color: #ffffff;
}
nav ul {s
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {list-style-type: none;}

nav a {
   
    display: block;
    color: #222543;
    padding: .8rem 0;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

nav ul li a:hover {
    background-color: #a8aab7;
    color: #2e9cca;
}
nav li.active {
    background-color: #a8aab7;
    color: #2a658a;
}
/*----------- MAIN --------------*/


main {
    padding: 0 2%;
    min-height: 10rem;
}


main figure.pano { 
    display: block;
    width: 100%;
    height: auto; 
    margin: 0;  
}   
main figure.pano img {width: 100%;}  

/*overlay and text*/

.overlay h1 {
    font-family: 'Great Vibes', cursive;
    margin: 0; 
    font-size: 4rem; 
    text-shadow: 1px 1px #141159;
    color: #ffffff
}
.overlay {
    position: relative;
    width: 50%;
}
.overlay {width: 100%;}
.overtext {
    top: 260px; 
    left: 550px;
    position: absolute;
    }


/*----------- FOOTER --------------*/
footer {
    background-color: #141159;
    padding: .5rem 2%;
    text-align: center; color: #ffffff;
    clear: both;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}