/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav button (display: none;)
nav ul.hide {display: block}
nav ul li {float: left;}
nav ul {margin-left: 2%;}


nav ul li a{
    border: none;
    padding: .8rem 1rem;}
nav ul.hide {display: block}
.toggle {display: none;}


/*----------- MAIN {gallery page} --------------*/

div.weatherGallery figure {
    flex-basis: 29%;    
}
div.weatherGallery figure img:hover {box-shadow: 0 0 50px #333;}

/* Storm Center Page*/



.image2 {
    width: 33%;
    margin: 0 0 0 2%;
    float: right;
}
.image2 img {width: 100%;}

table {display: table;}

div.towninfo section:nth-child(1) {width: 33%; float: left;}
div.towninfo section:nth-child(2) {width: 33%; }
div.towninfo section:nth-child(3) {width: 33%; }

main figure.preston img {width: 100%;}

/*----------- FOOTER --------------*/
footer {
    background-color: #ed1a37;
    padding: .5rem 2%;
    text-align: center; color: #ffffff;
    clear: both;}

    
}/* end of media query */